# IDEs
.project
.pydevproject
.idea
*.iml
.vscode
.settings

# Random files
*~
\#*
*.pid

virtualenv/
venv/
htmlcov/
src/static_dist/
src/static_root/

# Python compiled byte code
*.pyc

# Databases
*.sqlite
docker/mongo/data/*
# do not commit credentials kept in local.py
**/local.py

#RabbitMQ
docker/rabbitmq/data/*

# Node modules
node_modules/
yarn.lock
yarn-error.log
npm-debug.log

# Coverage 
coverage/
.coverage
.cache

# static validation files
.eslintrc
.sass-lint.yml
.prospector.yml
.coveragerc

# in case we run shippable tests don't include it
shippable/

# not include scripts because they come from external module
scripts/

# local files
tmp/
oracle-admin/

# Celery
**/celerybeat-schedule
**/celery.log
