[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=wtc-console
Group=nginx
WorkingDirectory=/home/wtc-console/wtc-console
ExecStart=/home/wtc-console/wtc-console/wtc-console-env/bin/gunicorn --workers 2 --bind unix:/home/wtc-console/wtc-console/wtc-console.sock djangoreactredux.wsgi:application

[Install]
WantedBy=multi-user.target
